.branding {
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    z-index: 1;
    outline-color: #e2001a;
    color: #e2001a;

    > div {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    &-back {
        background-color: transparent;
        font-size: 2rem;
        color: #e2001a;
        cursor: pointer;
    }
    
}